<?xml version="1.0" encoding="UTF-8"?>

<!--
localhost   127.0.0.1:4600
cage 1-2    10.28.114.89:4600
cage 3 	    10.28.114.56:4600
-->

<config>
    <cage>goPostPro - Cage3</cage>
    <netType>tcp</netType>
    <address>127.0.0.1:4600</address>
    <maxBufferSize>2048</maxBufferSize>
    <headerSize>40</headerSize>
    <verbose>false</verbose>
</config>